#box1{
  width: 100px;
  height: 100px;
  background-color: pink;
  animation: move 5s linear infinite;
  p{
    color: blue;
  }
}

@keyframes move {
  0%{}
  100%{transform: translateX(100px)}
}